<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2 class="dashboard-header">Hello {{ username }} 👋
        <br> Welcome to Notes API </h2>

    <form action="/notes" method="post" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Note title" required>
        <textarea name="content" placeholder="Write your note..." required></textarea>
        <input type="file" name="file" required>
        <button type="submit">Upload Note</button>
    </form>

    <p style="margin-top:20px;">Want to add another note? Just fill the form above ✅</p>
    <p><a href="/mynotes">📑 View My Notes</a></p>

</div>
</body>
</html>
