<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Enter email" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit">Login</button>
    </form>
    {% if msg %}
    <p style="color:red;">{{ msg }}</p>
    {% endif %}
    <p>New user? <a href="/register">Register</a></p>
</div>
</body>
</html>
